.wrapper {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  background-color: #a2d2ff;
  /* background-image: url(media/pic/developer.jpg); */
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  background-color: #a2d2ff;
  /* background-image: url(media/pic/developer.jpg); */
  background-attachment: fixed;
}
